.lesson {
    background-color: pink;
  }
  
  .title {
    color: darkblue;
  }
  
  #email {
    background-color: orangered;
  }
  
.github {
    color: lightsteelblue;
  }
  
  #portfolio {
    background-color: lightsalmon;
  }
  
  #footer {
    position: fixed;
    right: 0px;
    bottom: 0px;
  }